@model BurialSummaryAllViewModel

<div class="text-center">

    <h1>Burial Summary</h1>
    100 records per page
    <h2>@Model.GenderCategory</h2><br />
    <!--This page iterates through all of items in the Bowlers table from the database that comes from the IEnumerable in the View Model-->
    <div>
        <div>
            <div class="row">
                <div class="col-4">
                    <a type="button" asp-action="AddBurial">Add Burial Record</a>
                </div>
                <div class="col-2">
                    <vc:gender></vc:gender><br />
                    <vc:year-evac></vc:year-evac>
                </div>

                <div class="col-9">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th> Burial ID </th>
                                <th> Burial Depth </th>
                                <th> Year Excavated </th>
                                <th> Age at Death </th>
                                <th> Gender </th>
                                <th> Sample Taken </th>
                                <th> Preservation Index </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.Burial)

                            {
                                <tr>
                                    <td>@x.BurialId1 </td>
                                    <td>@x.BurialDepth</td>
                                    <td>@x.YearExcav</td>
                                    <td>@x.Burialageatdeath</td>
                                    <td>@x.GenderGe</td>
                                    <td>@x.Burialsamalepletaken</td>
                                    <td>@x.PreservationIndex</td>
                                    <td>
                                        <!--Buttons to see items currently in the database-->
                                        <form method="post" asp-action="BurialSummaryAuth">
                                            <button class="btn btn-group-sm btn-secondary" type="submit" name="Id" value="@x.Burialid">See More</button>
                                        </form>
                                    </td>
                                    <td>
                                        <!--Buttons to edit and remove items currently in the database-->
                                        <form method="post" asp-action="BurialSummaryAuthEdit">
                                            <button class="btn btn-group-sm btn-secondary" type="submit" name="EditId" value="@x.Burialid">Edit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" asp-action="BurialSummaryAuth">
                                            <button class="btn btn-group-sm btn-secondary" type="submit" name="DeleteId" value="@x.Burialid">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    Page: <div page-info="@Model.PageNumberingInfo" sex="@Model.GenderCategory" page-url-sex="@Model.GenderCategory" page-class="btn"
               page-class-normal="btn-outline-dark" page-class-selected="btn-secondary" class=" btn-group m-1 center"></div>

</div>